services:
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: pass
    networks:
      - app-net

  worker:
    build: .
    container_name: ninja_worker
    command: uv run celery -A ninja_worker.celery_app worker -l INFO
    environment:
      BROKER_URL: amqp://user:pass@rabbitmq:5672//
      RESULT_BACKEND: rpc://
    depends_on:
      - rabbitmq
    networks:
      - app-net





networks:
  app-net:
    driver: bridge